
.cart-card {
    width: 450px;
    padding-top: 1rem;
    padding-left: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-card mat-card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

mat-list {
    padding-top: 2rem;
}

mat-card-content {
    font-size: 14px;
}

.mat-list-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
  }
  
  .quantity-input {
    background-color: gray;
    height: 100%;
    width: 4rem;
    margin-right: 1rem;
  }
  
  .quantity-input input {
    height: 100%;
    width: 100%;
    border-bottom: none;
    text-align: center;
  }
  
  .item-price {
    flex-grow: 1;
    text-align: center;
  }
  
  .delete-button {
    margin-left: 1rem;
    color: red;
  }

.cart-card mat-raised-button {
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cart-card mat-card-actions {
    display: flex;
    justify-content: flex-end; 
    padding: 1rem;
    padding-top: 0;
}

.cart-card mat-card-actions button {
    font-size: 16px; 
    border-radius: 2rem; 
    transition: background-color 0.3s ease;
}

.cart-card mat-card-actions button:hover {
    background-color: hsl(345, 2%, 45%);
}

.cart-card mat-card-actions button[disabled] {
    background-color: #e0e0e0; 
    color: #bdbdbd; 
}
