<app-search></app-search>

<mat-toolbar color="primary" class="app-toolbar">
    <span>Ysquare Shop</span>
    <span class="toolbar-spacer"></span>
    <button 
        mat-icon-button 
        [matBadge]="productService.getCartItemCount()"
        [matBadgeHidden]="productService.getCartItemCount() === 0"
        matBadgeColor="primary"

    >
        <mat-icon>shopping_cart</mat-icon>
    </button>
</mat-toolbar>
<div class="app-container">
    <div class="product-list-container">
        <app-product-list></app-product-list>
    </div>
    <div class="shopping-cart-container">
        <app-shopping-cart></app-shopping-cart>
    </div>
</div>

<mat-toolbar class="app-toolbar">
    <span>Mastering Angular Inject Function</span>
</mat-toolbar>

<ul>
    @for (user of users; track user) {
        <li>{{user['name']}}</li>
    }
</ul>

<ul>
    @for (user of (user$ | async); track user) {
        <li>{{user['name']}}</li>
    }
</ul>

<mat-toolbar class="app-toolbar">
    <span>Angular Zoneless Feature</span>
</mat-toolbar>

<div class="px-5">
    <h1>count {{count}}</h1>
    <h2>productPrice {{productPrice}}</h2>
    <h3>quantity {{quantity()}}</h3>
    <h4>computedPrice {{computedPrice()}}</h4>
</div>
<div class="px-5">
    <button class="text-primary" (click)="onIncrement()">Increment</button>
</div>
<div>Today date is {{date}}